/* General */
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #2a315e;
  font-family: "Raleway", sans-serif;
}

a {
  color: #b20000;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #b20000;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #2a315e;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #b11f24;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}

.back-to-top i {
  font-size: 24px;
  padding-top: 6px;
}

.back-to-top:focus {
  background: #040919;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #2a315e;
  color: #fff;
}

/* Header */

#header {
  height: 90px;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 999;
  background-color: white;
}

#header.header-scrolled,
#header.header-fixed {
  background: white;
  height: 70px;
  padding: 15px 0;
  transition: all 0.5s;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
  padding-bottom: 10px;
}

/* Navigation Menu */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: #2a315e;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  outline: none;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color: #2a315e;
}

.nav-menu > li {
  margin-left: 8px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b20000;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu li.show-map a {
  color: #fff;
  background: #b20000;
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid #b20000;
  transition: all ease-in-out 0.3s;
  font-weight: 600;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 18px;
}

.nav-menu li.show-map a:hover {
  color: #2a315e;
  background: none;
}

.nav-menu li.show-map:hover a:before,
.nav-menu li.show-map.menu-active a:before {
  visibility: hidden;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
  border-radius: 3px;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #060c22;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  border-radius: 3px;
}

.nav-menu ul li:hover > a {
  background: #f82249;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #2a315e;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: #2a315e;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 17px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #f82249;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #f82249;
}

#mobile-nav ul .menu-item-active {
  color: #f82249;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(6, 12, 34, 0.8);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/* Slider */

.container-fluid {
  /* padding-top: 5em; */
}
.container-slider {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
}
#slides {
  margin: 0px;
  list-style-type: none;
  padding: 0;
  position: relative;
  height: 800px;
}
.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}
#img1,
#img2,
#img3 {
  width: 100%;
}
.intro {
  background-size: cover;
}

.intro:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
.intro h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 76px;
  font-weight: 600;
  text-transform: uppercase;
}

.intro h1 span {
  color: #b20000;
}
.intro p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 40px;
}
.intro .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #b20000;
}
.intro .about-btn:hover {
  background: #b20000;
  color: #fff;
}
#pause {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  background: #b20000;
  border-radius: 50px;
  color: #fff;
  border-color: transparent;
}
#pause:hover {
  background: #b20000;
  color: #fff;
  border-color: transparent;
}
#pause:active,
#pause:focus {
  border-color: transparent;
}
.controls {
  margin: auto;
  z-index: 9;
  position: absolute;
  top: 85%;
  left: 0;
}
.slider:hover .controls {
  opacity: 1;
}
.arrow_left,
.arrow_right {
  height: 30px;
  width: 30px;
  border-color: red;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotateZ(45deg);
  cursor: pointer;
}
.arrow_left {
  border-width: 0 0 3px 3px;
  border-radius: 0 0 0 3px;
  left: 30px;
}
.arrow_right {
  border-width: 3px 3px 0 0;
  border-radius: 0 3px 0 0;
  right: 30px;
}

/* Map */
#section_map {
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
}
.center {
  position: relative;
  height: 600px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #2a315e;
}
.leaflet-bottom,
.leaflet-top {
  z-index: 900 !important;
}
.bookNow {
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  background: #b20000;
  border-radius: 50px;
  color: #fff !important;
  border-color: transparent;
  padding: 7px 22px;
}
.leaflet-control-container {
  z-index: 200;
}
/* Booking */
#booking {
  padding-top: 20px;
  display: none;
  font-size: 1.75rem;
  font-weight: bolder;
  /* background-color: pink; */
}
#bk {
  font-weight: 700;
  font-size: 2.5rem;
  color: #b20000;
  text-transform: uppercase;
}
#booking_status {
  display: none;
  font-size: 1.75rem;
}
label,
#signature {
  text-transform: uppercase;
  font-weight: 600;
}
#station_bkd {
  color: #2a315e;
}
#station,
#address {
  color: #b20000;
}
#inputs {
  font-size: 1.75rem;
}
#firstname_bk,
#name_bk {
  border: 1px solid #2a315e;
}
#complete_inputs {
  color: #b20000;
}
#canvas {
  border: 1px solid #2a315e;
}
#clear_btn_canvas {
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding: 5px 10px;
  background: white;
  border: none;
  color: #2a315e;
}
#clear_btn_canvas:hover {
  color: #b20000;
  background: white;
}
.leaflet-popup-content {
  color: #2a315e;
  font-size: 1rem;
}
#progressBar {
  color: #b20000;
}

/* Contact */
#contact {
  padding-top: 2em;
  /* padding: 290px 0; */
}

.section-header {
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #f82249;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #112363;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #112363;
}

#contact .contact-info a {
  color: #4869df;
}

#contact .contact-info a:hover {
  color: #f82249;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

#contact .form #sendmessage {
  color: #f82249;
  border: 1px solid #f82249;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #b20000;
  border: 2px solid #b20000;
  font-weight: 600;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}
button {
  background: #b20000;
  border: 2px solid #b20000;
  font-weight: 600;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}
button:hover {
  color: #2a315e;
  background: white;
}
button:focus {
  outline: none !important;
}

#contact .form button[type="submit"]:hover {
  color: #2a315e;
  background: white;
}

@media (max-width: 1920px) {
  #slides {
    height: 945px;
  }
}

@media (max-width: 1199px) {
  #header .container {
    max-width: 100%;
  }
  .nav-menu a {
    padding: 8px 4px;
  }
  .intro h1 {
    font-size: 60px;
  }
  .intro p {
    font-size: 42px;
  }
  #slides {
    height: 584.5px;
  }
  #section_map {
    padding-top: 1em;
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (max-width: 991px) {
  #header {
    background: white;
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
  }
  #nav-menu-container {
    display: block;
  }
  #mobile-nav-toggle {
    display: inline;
  }
  #slides {
    height: 480.5px;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro p {
    font-size: 22px;
  }
  #section_map {
    padding-top: 1em;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  #slides {
    height: 369px;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro p {
    font-size: 22px;
  }
  #section_map {
    padding-top: 1em;
    padding-left: 30px;
    padding-right: 30px;
  }
  #contact {
    padding: 1em 0;
  }
}

@media (max-width: 460px) {
  #slides {
    height: 215px;
  }
  .intro h1 {
    font-size: 30px;
  }
  .intro p {
    font-size: 12px;
  }
  .intro .about-btn {
    font-size: 12px;
    padding: 6px 16px;
    margin: 5px;
    border: 2px solid #b20000;
  }
  #section_map {
    padding-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 320px) {
  #slides {
    height: 145px;
  }
  .intro h1 {
    font-size: 24px;
  }

  .intro p {
    font-size: 10px;
  }
  .intro .about-btn {
    font-size: 10px;
    padding: 6px 16px;
    margin: 5px;
    border: 1px solid #b20000;
  }
  #section_map {
    padding-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
  }
}
